.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
  background-color: transparent;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.navbar--scrolled {
background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.navbar__logoImage {
  border-radius: 50%;
}

.navbar__menu {
  display: flex;
  gap: 1.5rem;
}

.navbar__link {
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar__link:hover {
  color: #999999;
}

